<link rel="stylesheet" href="/css/profile.css">
<div class="container">
    <div class="avatar-flip">
      <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" height="150" width="150">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwXQluDJMo0JwPJ58C1rc7spimZHyMHhGANS1OuIveC7KEekRD8n2wRcCTtq9yHgIAmrE&usqp=CAU" height="150" width="150">
    </div>


      <%if(user.id == user_profile.id){%>
          
        <h2><%= user_profile.name%></h2>
        <h4>You are logged in using <%= user_profile.email%></h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna ip sum dolore.</p>
        <p>Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>

        <br>
        <form action="/user/update-profile/<%= user_profile.id%>" method="post">
            <input type="text" name="name" placeholder="Your name " value="<%= user_profile.name%>" required>
            <input type="email" name="email" placeholder="Your email% " value="<%= user_profile.email%>" required> 

            <input type="submit" value="Update Profile">
          
        </form>

      <%}else{%>
        <h2><%= user_profile.name%></h2>
        <h4>You are logged in using <%= user_profile.email%></h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna ip sum dolore.</p>
        <p>Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <%}%>


    
  </div>